.container-global {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-global .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-global .content section {
  width: 100%;
  max-width: 380px;
}

.container-global .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.container-global .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.container-global .content form {
  width: 100%;
  max-width: 450px;
}

.container-global .content form input,
.container-global .content form select {
  margin-top: 8px;
  width: 100%;
}
